@model WebMVC.Models.TrackersViewModels.EditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Редактирование свойств трекера</h2>
<hr />

@using (Html.BeginForm("Edit", "Trackers", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        <label>@Html.DisplayNameFor(m => m.Name)</label>
        @Html.TextBoxFor(m => m.Name,
                                 new { @class = "form-control" })
    </div>

    <input type="submit" class="btn btn-primary" value="Сохранить" />
    <a class="btn btn-default" href="@Url.Action("Index")">Отмена</a>
}

