@model IEnumerable<DAL.Entities.GPSTrackerMessage>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button id="start-creation" class="off_receive">Подписаться</button>

<div id="googleMap" style="width:1024px;height:768px;"></div>
@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script src="~/Scripts/map/gmaps.js"></script>
    }
