<ul class="nav nav-sidebar">
    <li role="presentation"><a href="">Профиль</a></li>
    <li role="presentation"><a href="">Маячки</a></li>
    <li role="presentation"><a href="">Группы</a></li>
</ul>

