@model DAL.Entities.ApplicationUser

@{
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">Добавить пользователя</h3>
</div>

@Html.Partial("_form", Model)

@section scripts{
    <script>
        //$("form").removeData("validator");
        //$("form").removeData("unobtrusiveValidation");
        //$.validator.unobtrusive.parse("form");
    </script>
}