@model DAL.Entities.ApplicationUser

@{
    Layout = null;
    string partialName;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">@ViewBag.ActionName</h3>
</div>
@{
    partialName = (ViewBag.Selector == 0) ? "_user_form" : "_delete_form";
}

@Html.Partial(partialName,Model)

@section scripts{
<script>
        //$("form").removeData("validator");
        //$("form").removeData("unobtrusiveValidation");
        //$.validator.unobtrusive.parse("form");
</script>
}

