
@{
    ViewBag.Title = "Администрирование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Администрирование</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Добро пожаловать, @User.Identity.Name</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>