
@{
    ViewBag.Title = "Администрирование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Администрирование</h2>

<aside class="sidebar col-sm-2" role="complementary">	
        <ul class="nav nav-pills nav-stacked">
            <li>@Ajax.ActionLink("Профили","Index","UserProfiles",new AjaxOptions {UpdateTargetId ="results"})</li>
            <li>@Ajax.ActionLink("Устройства", "Index", "GpsTrackers", new AjaxOptions { UpdateTargetId = "results" })</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
        </ul>
</aside>

<div id="results" class="col-lg-10"></div>

@section scripts{
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js") 
    }