@{
    ViewBag.Title = "Шаг второй";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Регистрация. Шаг второй.</h2>

<div>
    На Ваш E-Maile отправлено письмо для подтверждения регистрации.
</div>