@model DAL.Entities.UserProfile

@{
    Layout = null;
}

<div class="form-group">
    <label>Имя: @(Model.Name == null ? "Имя не задано" : Model.Name)</label>
</div>
<div class="form-group">
    <a class="btn btn-default"
       href="@Url.Action("Edit")"
       data-ajax="true"
       data-ajax-mode="replace"
       data-ajax-update="#profile">
        <span class="glyphicon glyphicon-pencil"></span>
    </a>
</div>
