@model DAL.Entities.UserProfile

@{
    ViewBag.Title = "Edit";
    Layout = null;
}

@using (Ajax.BeginForm("Edit", "PersonalArea", new AjaxOptions() { }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label>@Html.DisplayNameFor(m => m.Name)</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
}
