@model WebMVC.Models.PersonalAreaViewModels.EditViewModel

@{
    ViewBag.Title = "Edit";
    Layout = null;
}

@using (Ajax.BeginForm("Edit", "PersonalArea", new AjaxOptions { UpdateTargetId = "profile" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label>@Html.DisplayNameFor(m => m.Name)</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    <input type="submit" class="btn btn-primary" value="Сохранить" />

    @Ajax.ActionLink("Отмена", "Details", "PersonalArea",
                null,
                new AjaxOptions { UpdateTargetId = "profile" },
                new { @class = "btn btn-default"})
}
